//Color variables
$primary-color: #313232;
$black-vnc: #313232;
$grey-mid: #E5E5E5;
$grey-dark: #808285;
$grey-light: #F7F7F9;
$red-poor: #C4696A;
$red-dreadful: #991c24;
$grey-lighter: #bbbdbf;
$off-white: #FDFDFD;
$grey-darker: #333333;
$white: #FFFFFF;
$blue-vnc: #48A8D7;
$grey-mid-light: #E6E7E8;
$light-green: #7BB77A;
$green-vnc: #3EBB9C;
$grey-mid-dark: #808285;
$dark-green: #006400;
$forest-green: 228B22;
$lime-green: #32CD32;
$green: #008000;
